<div id="<%= dom_id announcement %>" class="bg-white py-5 px-4 sm:pt-6 sm:px-6 shadow-md rounded-lg overflow-hidden border dark:bg-dark-gray-800 dark:border-none dark:shadow-highlight text-gay-900 dark:text-dark-gray-300">
  
  <%= announcement.body %>

</div>
