<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @external_report.name %>
</p>

<%= link_to 'Edit', edit_external_report_path(@external_report) %> |
<%= link_to 'Back', external_reports_path %>
