<div id="<%= dom_id bank_balance %>">
  <p>
    <strong>Balance cents:</strong>
    <%= bank_balance.balance_cents %>
  </p>

  <p>
    <strong>Riding:</strong>
    <%= bank_balance.riding_id %>
  </p>

</div>
